.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  .wrapper {
    margin-top: 24px;
    color: #004835;
    .title {
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      color: #f5ab00;
      font-weight: 700;
    }
    .content {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 16px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      font-size: 18px;
      line-height: 1.6;
      .pText {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .secondPText {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .imgWrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-style: italic;
        gap: 5px;
      }
    }
  }
}
.hr {
  border: 0.5px solid #373737;
  opacity: 0.2;
  width: 1280px;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    .wrapper {
      .title {
        font-size: 14px;
        text-align: center;
      }
      .content {
        padding-left: 0;
        padding-right: 0;
        p {
          text-align: center;
        }
        .pText {
          align-items: unset;
        }
        .secondPText {
          align-items: unset;
        }
      }
      .imgWrapper {
        img {
          max-width: 100%;
        }
      }
    }
  }
  .hr {
    width: 100%;
  }
}
